@font-face {
  font-family: 'GT Flexa Extended';
  font-weight: 200;
  font-style: normal;
  src: local('GT Flexa Extended'), url('./fonts/GT-Flexa-Extended-Light.woff2') format('woff2');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
}

h1,
h2 {
  font-family: 'GT Flexa Extended', sans-serif;
  font-weight: 200;
}

.landing-text {
  width: 75%;
}

h1.landing-text {
  font-size: 5rem;
  line-height: 5rem;
}

h3.landing-text {
  padding-left: 11rem;
  width: 50%;
}

h3.description {
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: 200;
  font-size: 1.4rem;
}

p.left,
p.right {
  display: inline-flex;
}

p.right {
  float: right;
}

p {
  margin: 0;
}
